@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFFFFF;
  --color-secondary: #9FBB73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.custom__button__bevel {
  background-color: var(--color-secondary);
  color: white;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-align: center;
  line-height: 24px;
  font-size: 1rem;
  border-radius: 6px;
  height: 2.6rem; 
  width: 8rem; 
  max-width: 100%; 
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center; 
  align-items: center;     
}

@media (max-width: 768px) {
  .custom__button__bevel {
    font-size: 0.875rem; 
    height: 2.2rem; 
    width: 7rem; 
  }
}

@media (max-width: 620px) {
  .custom__button__bevel {
    font-size: 0.875rem; 
    height: 2.2rem; 
    width: 7rem; 
  }
}


@media (max-width: 400px) {
  .custom__button__bevel {
    font-size: 0.6rem; 
    height: 1.7rem;
    width: 5rem;
  }
}


.custom__button__bevel:hover {
  transform: translateY(-1px) translateX(1.2px); 
  font-weight: 900;
}


.custom__button__medium {
  height: 50px; 
  width: 154px;
  font-size: 18px;
}

@media (max-width: 400px) {
  .custom__button__medium {
    font-size: 0.7rem; 
    height: 2.3rem;
    width: 7rem;
  }
}

.custom__button__rounded {
  background-color: var(--color-secondary);
  color: white;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  border-radius: 25px;
  height: 51px;
  width: 156px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.custom__button__rounded:hover {
  background-color: transparent; 
  border: 3px solid var(--Secondary, #9FBB73)
}

.custom__button__open {
  color: var(--color-secondary);
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; 
  border-radius: 6px;
  padding: 18px 64px;
  border: 3px solid var(--Secondary, #9FBB73);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease, color 0.15s ease;
}


@media (max-width: 1200px) {
  .custom__button__open {
   padding: 0.5rem 1.5rem; 
   font-size: 18px
  }
}

@media (max-width: 620px) {
  .custom__button__open {
    padding: .6rem 1.7rem; 
    font-size: 16px;   
  }
}

@media (max-width: 400px) {
  .custom__button__open {
    padding: 0.4rem 1rem; 
    font-size: 16px;      
  }
}

.custom__button__open:hover {
  background-color: var(--color-secondary); 
  color: white; 
}


.react-datepicker__header {
  background-color: white; /* Change header background */
  color: white; 
  border-bottom: none;

}

.react-datepicker__current-month {
  font-weight: 900;

}

.react-datepicker__navigation--previous {
  left: 177px;
}

.react-datepicker__navigation {
  top: 6px;
}

.react-datepicker__header .react-datepicker__current-month {
  text-align: left;
  margin-left: 1rem;
}

.react-datepicker__day-name {
  font-family: Inter;
  font-weight: 800;
  font-size: 12px;
}

.react-datepicker__day-names {
  margin-bottom: -16px;
  margin-top: 12px;
}

.react-datepicker__month {
  border: 1px solid #ECECEC; 
}

.react-datepicker__week {
  border: 1px solid #ECECEC;
}

.react-datepicker__day {
  position: relative; 
}

.react-datepicker__day::after {
  content: ''; 
  position: absolute;
  top: 0;
  right: 0; 
  width: 1px; 
  height: 100%; 
  background-color: #ECECEC; 
  pointer-events: none; 
}

.react-datepicker__day:last-child::after {
  display: none; 
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range, .react-datepicker__month-text--selected, 
.react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, 
.react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, 
.react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: var(--color-secondary);
  border-radius: 0px;
  color: white;
}




.box-shadow {
  box-shadow: 0px 3px 21.9px 0px rgba(0, 0, 0, 0.20);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer components {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
  .padding-x {
    @apply sm:px-16 px-8;
  }
  .padding-y {
    @apply sm:py-24 py-12;
  }
  .padding-b {
    @apply sm:pb-24 pb-12;
  }
  .padding-t {
    @apply sm:pt-24 pt-12;
  }


  /* Layout */

  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexEnd {
    @apply flex justify-end items-center;
  }
  .flexStart {
    @apply flex justify-start items-center;
  }
}

  /* Padding */

  .px {
    @apply px-[32px]; 
  }

  @media (min-width: 640px) { 
    .px {
      @apply px-[340px]; 
    }
  }


  /* Font 12px */

  .text-normal-12 {
    @apply font-inter font-normal text-[12px] leading-[150%];
  }  
  .text-medium-12 {
    @apply font-inter font-medium text-[12px] leading-[150%];
  }
  .text-semibold-12 {
    @apply font-inter font-semibold text-[12px] leading-[150%];
  }  
  .text-bold-12 {
    @apply font-inter font-bold text-[12px] leading-[150%];
  }


  /* Font 16px */

  .text-normal-16 {
    @apply font-inter font-normal text-[16px] leading-[150%];
  }  
  .text-medium-16 {
    @apply font-inter font-medium text-[16px] leading-[150%];
  }
  .text-semibold-16 {
    @apply font-inter font-semibold text-[16px] leading-[150%];
  }  
  .text-bold-16 {
    @apply font-inter font-bold text-[16px] leading-[150%];
  }

    /* Font 18px */

    .text-normal-18 {
      @apply font-inter font-normal text-[18px] leading-[150%];
    }  
    .text-medium-18 {
      @apply font-inter font-medium text-[18px] leading-[150%];
    }
    .text-semibold-18 {
      @apply font-inter font-semibold text-[18px] leading-[150%];
    }  
    .text-bold-18 {
      @apply font-inter font-bold text-[18px] leading-[150%];
    }

  /* Font 21px */
  
  .text-normal-21 {
    @apply font-inter font-normal text-[21.32px] leading-[150%];
  }  
  .text-medium-21 {
    @apply font-inter font-medium text-[21.32px] leading-[150%];
  }
  .text-semibold-21 {
    @apply font-inter font-semibold text-[21.32px] leading-[150%];
  }  
  .text-bold-21 {
    @apply font-inter font-bold text-[21.32px] leading-[150%];
  }

  /* Font 28px */

  .text-normal-28 {
    @apply font-inter font-normal text-[28px] leading-[150%];
  }  
  .text-medium-28 {
    @apply font-inter font-medium text-[28px] leading-[150%];
  }
  .text-semibold-28 {
    @apply font-inter font-semibold text-[28px] leading-[150%];
  }  
  .text-bold-28 {
    @apply font-inter font-bold text-[28px] leading-[150%];
  }

   /* Font 48px */

   .text-normal-48 {
    @apply font-inter font-normal text-[48px] leading-[150%];
  }  
  .text-medium-48 {
    @apply font-inter font-medium text-[48px] leading-[150%];
  }
  .text-semibold-48 {
    @apply font-inter font-semibold text-[48px] leading-[150%];
  }  
  .text-bold-48 {
    @apply font-inter font-bold text-[48px] leading-[150%];
  }